<%= form_for(user, url: users_path, method: :post,  html: { class: 'sign-up-form' }) do |f| %>
  <div class="container">
    <h2 class="text-center">User Create</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Enter Full Name' %>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= f.label :reference, class: 'form-label' %>
          <%= f.text_field :reference, autofocus: true, class: 'form-control', placeholder: 'Enter Reference' %>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= label_tag 'my_coin', 'My Coin', class: 'form-label' %>
          <%= text_field_tag 'my_coin','', autofocus: true, class: 'form-control', placeholder: 'My Match Share', value: current_user.my_coin, readonly: true %>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= f.label :my_coin, 'Coin', class: 'form-label' %>
          <%= f.text_field :my_coin, autofocus: true, class: 'form-control', placeholder: 'Coin' %>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <% password = user.random_password %>
      <%= f.hidden_field :password_confirmation, value: password %>
      <%= f.hidden_field :user_name, value: user.random_generate_user_name(user.role) %>
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= f.label :password, class: 'form-label' %>
          <%= f.text_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Enter Password', value: password, readonly: true %>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= f.label :share_type, class: 'form-label' %>
          <%= f.text_field :share_type, autofocus: true, class: 'form-control', placeholder: 'Select Share Type' %>
        </div>
      </div>
    </div>
    <h5 class="my-3 text-center">Super Agent Match Share and Commission</h5>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= label_tag 'my_match_share', 'My Match Share(%)', class: 'form-label' %>
          <%= text_field_tag 'my_match_share','', autofocus: true, class: 'form-control', placeholder: 'My Match Share', value: current_user.my_match_share, readonly: true %>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= f.label :my_match_share, 'Match Share(%)', class: 'form-label' %>
          <%= f.text_field :my_match_share, autofocus: true, class: 'form-control', placeholder: 'Match Share' %>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= label_tag 'my_match_comm', 'My Match comm(%)', class: 'form-label' %>
          <%= text_field_tag 'my_match_comm','', autofocus: true, class: 'form-control', placeholder: 'My Match comm', value: current_user.my_match_comm, readonly: true %>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= f.label :my_match_comm, 'Match comm(%)', class: 'form-label' %>
          <%= f.text_field :my_match_comm, autofocus: true, class: 'form-control', placeholder: 'Match Comm' %>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= label_tag 'my_sess_comm', 'My Sess comm(%)', class: 'form-label' %>
          <%= text_field_tag 'my_sess_comm','', autofocus: true, class: 'form-control', placeholder: 'My Sess Comm', value: current_user.my_sess_comm, readonly: true %>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= f.label :my_sess_comm, 'Sess comm(%)', class: 'form-label' %>
          <%= f.text_field :my_sess_comm, autofocus: true, class: 'form-control', placeholder: 'Sess Comm' %>
        </div>
      </div>
    </div>
    <h5 class="my-3 text-center">Super Agent Casino Share and Commission</h5>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= label_tag 'my_casino_share', 'My Casino Share(%)', class: 'form-label' %>
          <%= text_field_tag 'my_casino_share','', autofocus: true, class: 'form-control', placeholder: 'Casino Comm', value: current_user.my_casino_share, readonly: true %>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= f.label :my_casino_share, 'Casino Share(%)', class: 'form-label' %>
          <%= f.text_field :my_casino_share, autofocus: true, class: 'form-control', placeholder: 'Casino Share' %>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= label_tag 'my_casino_comm', 'My Casino comm(%)', class: 'form-label' %>
          <%= text_field_tag 'my_casino_comm','', autofocus: true, class: 'form-control', placeholder: 'Casino Comm', value: current_user.my_casino_comm, readonly: true %>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group mb-3">
          <%= f.label :my_casino_comm, 'Casino comm(%)', class: 'form-label' %>
          <%= f.text_field :my_casino_comm, autofocus: true, class: 'form-control', placeholder: 'Casino Comm' %>
        </div>
      </div>
    </div>
    <%= f.hidden_field :role, value: user.role %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="form-group text-center mb-3">
      <%= f.submit 'Create', class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
