<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Master Details
          </a>
          <% if current_user.role == 'admin' %>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Super Master', users_path(role: 'super_master'), class: 'dropdown-item' %></li>
              <li><%= link_to 'Agent Master', users_path(role: 'agent'), class: 'dropdown-item' %></li>
              <li><%= link_to 'Client Master', users_path(role: 'client'), class: 'dropdown-item' %></li>
              <%# <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> %>
            </ul>
          <% elsif current_user.role == 'super_master' %>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Agent Master', users_path(role: 'agent'), class: 'dropdown-item' %></li>
              <li><%= link_to 'Client Master', users_path(role: 'client'), class: 'dropdown-item' %></li>
            </ul>
          <% elsif current_user.role == 'agent' %>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Client Master', users_path(role: 'client'), class: 'dropdown-item' %></li>
            </ul>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Games
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Inplay Games</a></li>
            <li><a class="dropdown-item" href="#">Completed Games</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Casino
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Inplay Casino</a></li>
            <li><a class="dropdown-item" href="#">Completed Casino</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ledger
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Profit/Loss</a></li>
            <li><a class="dropdown-item" href="#">My Ledger</a></li>
            <li><a class="dropdown-item" href="#">Super Ledger</a></li>
            <li><a class="dropdown-item" href="#">Agent Ledger</a></li>
            <li><a class="dropdown-item" href="#">Client ledger</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cash Transanction
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Debit/Credit Entry(C)</a></li>
            <li><a class="dropdown-item" href="#">Debit/Credit Entry(A)</a></li>
            <li><a class="dropdown-item" href="#">Debit/Credit Entry(SA)</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Login Report</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Setting</a>
        </li>
      </ul>
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-link"  %>
    </div>
  </div>
</nav>